# Database
POSTGRES_USER=appenheimer
POSTGRES_PASSWORD=secret
POSTGRES_DB=appenheimer
DB_URL=postgres://appenheimer:secret@postgres:5432/appenheimer?sslmode=disable

# Redis
REDIS_HOST=redis:6379
REDIS_PASSWORD=secret

# Meilisearch
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=secret

# Application Secrets
SESSION_SECRET=super_secret_key_change_me_in_prod
CSRF_SECRET=super_secret_key_change_me_in_prod
CORS_ORIGINS=https://appenheimer.com
